
<script>
    {literal}
        $(function () {
            var $dialog = $('<div></div>')
                    .html(SUGAR.language.get('app_strings', 'LBL_SEARCH_HELP_TEXT'))
                    .dialog({
                        autoOpen: false,
                        title: SUGAR.language.get('app_strings', 'LBL_SEARCH_HELP_TITLE'),
                        width: 700
                    });

            $('.help-search').click(function () {
                $dialog.dialog('open');
                // prevent the default action, e.g., following a link
            });

        });
    {/literal}
</script>
<div class="row">
    {{assign var='accesskeycount' value=0}}  {{assign var='ACCKEY' value=''}}
    {{foreach name=colIteration from=$formData key=col item=colData}}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-advanced-search">
        <div class="">
            {{math assign="accesskeycount" equation="$accesskeycount + 1"}}
            {{if $accesskeycount==1}} {{assign var='ACCKEY' value=$APP.LBL_FIRST_INPUT_SEARCH_KEY}} {{else}} {{assign var='ACCKEY' value=''}} {{/if}}


            {counter assign=index}
            {math equation="left % right"
   		  left=$index
          right=$templateMeta.maxColumns
          assign=modVal
            }

            <div class="col-xs-12">
                {{if isset($colData.field.label)}}
                <label for='{{$colData.field.name}}'>{sugar_translate label='{{$colData.field.label}}' module='{{$module}}'}</label>
                {{elseif isset($fields[$colData.field.name])}}
                <label for='{{$fields[$colData.field.name].name}}'>{sugar_translate label='{{$fields[$colData.field.name].vname}}' module='{{$module}}'}</label>
                {{/if}}
            </div>
            <div clas="col-xs-12">
                {{if $fields[$colData.field.name]}}
                {{sugar_field parentFieldArray='fields' accesskey=$ACCKEY vardef=$fields[$colData.field.name] displayType=$displayType displayParams=$colData.field.displayParams typeOverride=$colData.field.type formName=$form_name}}
                {{/if}}
            </div>
        </div>
    </div>
    {{/foreach}}

    <tr>
        <td colspan='20'>
            &nbsp;
        </td>
    </tr>
    {if $DISPLAY_SAVED_SEARCH}
        <tr>
            <td colspan='2'>
                <a class='tabFormAdvLink' onhover href='javascript:toggleInlineSearch()'>
                {capture assign="alt_show_hide"}{sugar_translate label='LBL_ALT_SHOW_OPTIONS'}{/capture}
                {sugar_getimage alt=$alt_show_hide name="advanced_search" ext=".gif" other_attributes='border="0" id="up_down_img" '}&nbsp;{$APP.LNK_SAVED_VIEWS}
            </a><br>
            <input type='hidden' id='showSSDIV' name='showSSDIV' value='{$SHOWSSDIV}'><p>
        </td>
    </tr>

    <tr>
        <td colspan='6'>
            <div style='{$DISPLAYSS}' id='inlineSavedSearch' >
                {$SAVED_SEARCH}
            </div>
        </td>
    </tr>

{/if}
{if $displayType != 'popupView'}
    <tr>
        <td colspan='5'>
            <input tabindex='2' title='{$APP.LBL_SEARCH_BUTTON_TITLE}' onclick='SUGAR.savedViews.setChooser()' class='button' type='submit' name='button' value='{$APP.LBL_SEARCH_BUTTON_LABEL}' id='search_form_submit_advanced'/>&nbsp;
            <input tabindex='2' title='{$APP.LBL_CLEAR_BUTTON_TITLE}'  onclick='SUGAR.searchForm.clear_form(this.form); document.getElementById("saved_search_select").options[0].selected = true;
                    return false;' class='button' type='button' name='clear' id='search_form_clear_advanced' value='{$APP.LBL_CLEAR_BUTTON_LABEL}'/>
            {if $DOCUMENTS_MODULE}
                &nbsp;<input title="{$APP.LBL_BROWSE_DOCUMENTS_BUTTON_TITLE}" type="button" class="button" value="{$APP.LBL_BROWSE_DOCUMENTS_BUTTON_LABEL}" onclick='open_popup("Documents", 600, 400, "&caller=Documents", true, false, "");' />
            {/if}
            <a id="basic_search_link" href="javascript:void(0)" accesskey="{$APP.LBL_ADV_SEARCH_LNK_KEY}" >{$APP.LNK_BASIC_SEARCH}</a>
            <span class='white-space'>
                &nbsp;&nbsp;&nbsp;
                <span id='go_btn_span' style='display:none'><input tabindex='2' title='go_select' id='go_select'  onclick='SUGAR.searchForm.clear_form(this.form);' class='button' type='button' name='go_select' value=' {$APP.LBL_GO_BUTTON_LABEL} '/></span>	
            </span>
        </td>
        <td class="help">
            {if $DISPLAY_SEARCH_HELP}
                <img  border='0' src='{sugar_getimagepath file="help-dashlet.gif"}' class="help-search">
            {/if}
        </td>
    </tr>
    {/if}
    </div>

    <script>
        {literal}
            if (typeof (loadSSL_Scripts) == 'function') {
                loadSSL_Scripts();
            }
        {/literal}	
    </script>
    <script>
        {literal}
            $(document).ready(function () {
                $('#basic_search_link').one("click", function () {
                    //alert( "This will be displayed only once." );
                    SUGAR.searchForm.searchFormSelect('{/literal}{$module}{literal}|basic_search', '{/literal}{$module}{literal}|advanced_search');
                });
            });
        {/literal}
    </script>
