.custom-file-input {
    width: 100%;
    padding-left: 50px;
    height: 60px;
    padding-top: 15px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Выбрать файл';
    display: inline-block;
    background: #F08377;
    border-radius: 3px;
    padding: 12px 17px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
    color: white;
    margin-left: -50px;
    margin-top: -9px;
}

.custom-file-input:active::before {
    background: #F08377;
}
