
<!--Start Responsive Top Navigation Menu -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.php?module=Home&action=index">{$APP.LBL_BROWSER_TITLE}</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile_menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="mobileheader">
                <div id="modulelinks">
                    {foreach from=$moduleTopMenu item=module key=name name=moduleList}
                        {if $name == $MODULE_TAB}
                            <span class="modulename" data-toggle="dropdown"
                                  aria-expanded="false">{sugar_link id="moduleTab_$name" module=$name data=$module}</span>

                                <ul class="dropdown-menu" role="menu">
                                {if $name !='Home'}
                                    {if count($shortcutTopMenu.$name) > 0}
                                        {foreach from=$shortcutTopMenu.$name item=item}
                                            {if $item.URL == "-"}
                                                <li><a></a><span>&nbsp;</span></li>
                                            {else}
                                                <li><a href="{$item.URL}">{$item.LABEL}</a></li>
                                            {/if}
                                        {/foreach}
                                    {else}
                                        <li><a>{$APP.LBL_NO_SHORTCUT_MENU}</a></li>
                                    {/if}
                            {/if}

                                    {if count($recentRecords) > 0}
                                        <li role="presentation">
                                            <a style="padding-top: 32px !important; border-bottom: none"><strong>{$APP.LBL_LAST_VIEWED}</strong></a>
                                        </li>
                                    {foreach from=$recentRecords item=item name=lastViewed}
                                            <li class="recentlinks" role="presentation">
                                                <a title="{$item.module_name}"
                                                   accessKey="{$smarty.foreach.lastViewed.iteration}"
                                                   href="{sugar_link module=$item.module_name action='DetailView' record=$item.item_id link_only=1}">
                                                    <img src="{sugar_getimagepath directory='sidebar/modules' file_name=$item.module_name file_extension='svg' file='sidebar/modules/'.$item.module_name.'.svg' }"><span aria-hidden="true">{$item.item_summary_short}</span>
                                                </a>
                                            </li>
                                    {/foreach}
                                    {/if}

                                    {if count($favoriteRecords) > 0}
                                        <li role="presentation">
                                            <a style="padding-top: 32px !important; border-bottom: none"><strong>{$APP.LBL_FAVORITES}</strong></a>
                                        </li>
                                    {foreach from=$favoriteRecords item=item name=lastViewed}
                                            <li class="recentlinks" role="presentation">
                                                <a title="{$item.module_name}"
                                                   accessKey="{$smarty.foreach.lastViewed.iteration}"
                                                   href="{sugar_link module=$item.module_name action='DetailView' record=$item.id link_only=1}">
                                                    <img src="{sugar_getimagepath directory='sidebar/modules' file_name=$item.module_name file_extension='svg' file='sidebar/modules/'.$item.module_name.'.svg'}"><span aria-hidden="true">{$item.item_summary_short}</span>
                                                </a>
                                            </li>
                                    {/foreach}
                                    {/if}
                                </ul>

                        {/if}
                    {/foreach}
                </div>
                <form id="searchmobile" onsubmit="return SUGAR.unifiedSearchAdvanced.checkUsaAdvanced()"
                      action="index.php" name="UnifiedSearch">
                    <input class="form-control" type="hidden" value="UnifiedSearch" name="action">
                    <input class="form-control" type="hidden" value="Home" name="module">
                    <input class="form-control" type="hidden" value="false" name="search_form">
                    <input class="form-control" type="hidden" value="false" name="advanced">
                <span class="input-group-btn">
                    <input id="query_string" class="form-control" type="text" placeholder="Search..."
                           name="query_string">
                </span>
                </form>
                
                <div id="mobilegloballinks">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-option-vertical"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        {foreach from=$GCLS item=GCL name=gcl key=gcl_key}
                            <li role="presentation">
                                <a id="{$gcl_key}_link"
                                   href="{$GCL.URL}"{if !empty($GCL.ONCLICK)} onclick="{$GCL.ONCLICK}"{/if}>{$GCL.LABEL}</a>
                            </li>
                        {/foreach}
                        <li role="presentation"><a role="menuitem" id="logout_link" href='{$LOGOUT_LINK}'
                                                   class='utilsLink'>{$LOGOUT_LABEL}</a></li>
                    </ul>
                </div>
                <div id="userlinks_head" class="navbar-toggle collapsed">
                    <a href="javascript:void(0)" id="userlinks_togglemobilesearch"><span
                                class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
        <div class="hidden-xs hidden-sm hidden-md hidden-mdlg" id="bs-example-navbar-collapse-1">
            {if $USE_GROUP_TABS}
                <ul class="nav navbar-nav">
                    {assign var="groupSelected" value=false}
                    {foreach from=$moduleTopMenu item=module key=name name=moduleList}
                        {if $name == $MODULE_TAB}
                            {if $name != 'Home'}
                                <li class="topnav">
                                    <span class="currentTabLeft">&nbsp;</span>
                                    <span class="currentTab"
                                          style="color:#F08377 !important;">{sugar_link id="moduleTab_$name" module=$name data=$module}</span>
                                    <span>&nbsp;</span>
                                    <ul class="dropdown-menu" role="menu">
                                        {if count($shortcutTopMenu.$name) > 0}
                                            <h3 class="home_h3">{$APP.LBL_LINK_ACTIONS}</h3>
                                            {foreach from=$shortcutTopMenu.$name item=item}
                                                {if $item.URL == "-"}
                                                    <li><a></a><span>&nbsp;</span></li>
                                                {else}
                                                    <li><a href="{$item.URL}">{$item.LABEL}</a></li>
                                                {/if}
                                            {/foreach}
                                        {/if}
                                        <h3 class="recent_h3">{$APP.LBL_LAST_VIEWED}</h3>
                                        {foreach from=$recentRecords item=item name=lastViewed}
                                            {if $item.module_name == $name}
                                                <div class="recently_viewed_link_container">
                                                    <li class="recentlinks_topedit">
                                                        <a href="{sugar_link module=$item.module_name action='EditView' record=$item.item_id link_only=1}"
                                                           style="margin-left:10px;"><span
                                                                    class=" glyphicon glyphicon-pencil" aria-hidden="true"></a>
                                                    </li>
                                                    <li class="recentlinks_top" role="presentation">
                                                        <a title="{$item.module_name}"
                                                           accessKey="{$smarty.foreach.lastViewed.iteration}"
                                                           href="{sugar_link module=$item.module_name action='DetailView' record=$item.item_id link_only=1}">{$item.item_summary_short}</a>
                                                    </li>
                                                </div>
                                            {/if}
                                            {foreachelse}
                                            {$APP.NTC_NO_ITEMS_DISPLAY}
                                        {/foreach}
                                        <h3 class="recent_h3">{$APP.LBL_FAVORITES}</h3>
                                        {foreach from=$favoriteRecords item=item name=lastViewed}
                                            {if $item.module_name == $name}
                                                <div class="recently_viewed_link_container">
                                                    <li class="recentlinks_topedit">
                                                        <a href="{sugar_link module=$item.module_name action='EditView' record=$item.id link_only=1}"
                                                           style="margin-left:10px;"><span
                                                                    class=" glyphicon glyphicon-pencil" aria-hidden="true"></a>
                                                    </li>
                                                    <li class="recentlinks_top" role="presentation">
                                                        <a title="{$item.module_name}"
                                                           accessKey="{$smarty.foreach.lastViewed.iteration}"
                                                           href="{sugar_link module=$item.module_name action='DetailView' record=$item.id link_only=1}">{$item.item_summary_short}</a>
                                                    </li>
                                                </div>
                                            {/if}
                                            {foreachelse}
                                            {$APP.NTC_NO_ITEMS_DISPLAY}
                                        {/foreach}
                                    </ul>
                                 </li>
                            {/if}

                        {/if}
                    {/foreach}
                    {foreach from=$groupTabs item=modules key=group name=groupList}
                        {capture name=extraparams assign=extraparams}parentTab={$group}{/capture}
                        <li class="topnav">
                            <span class="notCurrentTabLeft">&nbsp;</span><span class="notCurrentTab">
                            <a href="#" id="grouptab_{$smarty.foreach.groupList.index}" class="dropdown-toggle"
                               data-toggle="dropdown">{$group}</a>
                            <span class="notCurrentTabRight">&nbsp;</span>
                            <ul class="dropdown-menu" role="menu" {if $smarty.foreach.groupList.last} class="All"{/if}>
                                {foreach from=$modules.modules item=module key=modulekey}
                                    <li>
                                        {capture name=moduleTabId assign=moduleTabId}moduleTab_{$smarty.foreach.moduleList.index}_{$module}{/capture}
                                        {sugar_link id=$moduleTabId module=$modulekey data=$module extraparams=$extraparams}
                                    </li>
                                {/foreach}
                                {foreach from=$modules.extra item=submodulename key=submodule}
                                    <li>
                                        <a href="{sugar_link module=$submodule link_only=1 extraparams=$extraparams}">{$submodulename}</a>
                                    </li>
                                {/foreach}
                            </ul>
                        </li>
                    {/foreach}
                </ul>
            {else}

                <ul class="nav navbar-nav navbar-horizontal-fluid">
                    {foreach from=$groupTabs item=modules key=group name=groupList}
                        {capture name=extraparams assign=extraparams}parentTab={$group}{/capture}
                    {/foreach}

                    <!--nav items with actions -->
                    {foreach from=$modules.modules item=submodulename key=submodule}
                        {if $submodule != "Home"}
                            <li class="topnav with-actions">
                                <span class="notCurrentTabLeft">&nbsp;</span>
                                <span class="dropdown-toggle headerlinks notCurrentTab"> <a href="{sugar_link module=$submodule link_only=1 extraparams=$extraparams}">{$submodulename}</a> </span>
                                <span class="notCurrentTabRight">&nbsp;</span>
                                <ul class="dropdown-menu" role="menu">
                                    {if count($shortcutTopMenu.$submodule) > 0}
                                        {foreach from=$shortcutTopMenu.$submodule item=item}
                                            {if $item.URL == "-"}
                                                <li><a></a><span>&nbsp;</span></li>
                                            {else}
                                                <li><a href="{$item.URL}">{$item.LABEL}</a></li>
                                            {/if}
                                        {/foreach}
                                    {/if}

                                    <li class="recent_h3"><strong>{$APP.LBL_LAST_VIEWED}</strong></li>
                                    {foreach from=$recentRecords item=item name=lastViewed}
                                            <li class="recentlinks" role="presentation">
                                                <a title="{$item.module_name}"
                                                   accessKey="{$smarty.foreach.lastViewed.iteration}"
                                                   href="{sugar_link module=$item.module_name action='DetailView' record=$item.item_id link_only=1}">
                                                    <img src="{sugar_getimagepath directory='sidebar/modules'  file_name=$item.module_name file_extension="svg" file='sidebar/modules/'.$item.module_name.".svg"}"/><span aria-hidden="true">{$item.item_summary_short}</span>
                                                </a>
                                            </li>
                                    {/foreach}
                                    <li class="recent_h3"><strong>{$APP.LBL_FAVORITES}</strong></li>
                                    {foreach from=$favoriteRecords item=item name=lastViewed}
                                            <li class="recentlinks" role="presentation">
                                                <a title="{$item.module_name}"
                                                   accessKey="{$smarty.foreach.lastViewed.iteration}"
                                                   href="{sugar_link module=$item.module_name action='DetailView' record=$item.id link_only=1}">
                                                    <img src="{sugar_getimagepath  directory='sidebar/modules' file_name=$item.module_name file_extension="svg" file='sidebar/modules/'.$item.module_name.".svg"}"/><span aria-hidden="true">{$item.item_summary_short}</span>
                                                </a>
                                            </li>
                                    {/foreach}

                                </ul>
                            </li>
                        {/if}
                    {/foreach}
                    <li class="topnav overflow-toggle-menu">
                        <span class="notCurrentTabLeft">&nbsp;</span>
                        <span class="dropdown-toggle headerlinks notCurrentTab"><a href="#">{$APP.LBL_MORE}</a></span>
                        <span class="notCurrentTabRight">&nbsp;</span>
                        <ul id="overflow-menu" class="dropdown-menu" role="menu">
                            <!--nav items without actions -->
                            {foreach from=$modules.extra item=submodulename key=submodule}
                                <li class="topnav without-actions">
                                    <span class=" notCurrentTab"> <a href="{sugar_link module=$submodule link_only=1 extraparams=$extraparams}">{$submodulename}</a> </span>
                                </li>
                            {/foreach}
                        </ul>
                    </li>
                </ul>
                <div class="hidden hidden-actions">black cat</div>

                {literal}
                    <script>
                        var windowResize = function() {
                            // reset navbar
                            var $navCollapsedItems = $('ul#overflow-menu > li.with-actions');
                            if(typeof $navCollapsedItems !== "undefined") {
                                $($navCollapsedItems).each(function() {
                                    $(this).addClass('topnav');
                                    $(this).insertBefore('.overflow-toggle-menu');
                                });
                            }



                            var $navItemMore = $('.navbar-horizontal-fluid > li.overflow-toggle-menu'),
                                    $navItems = $('.navbar-horizontal-fluid > li.with-actions'),
                                    navItemMoreWidth = navItemWidth = $navItemMore.width(),
                                    windowWidth = $(window).width() - ($(window).width()  * 0.55),
                                    navItemMoreLeft, offset, navOverflowWidth;

                            $navItems.each(function() {
                                navItemWidth += $(this).width();
                            });

                            // Remove nav items that are cause the right hand nav-bar items to wrap
                            while (navItemWidth > windowWidth) {
                                navItemWidth -= $navItems.last().width();
                                $navItems.last().removeClass('topnav');
                                $navItems.last().prependTo('#overflow-menu');
                                $navItems.splice(-1,1);
                            }

                            navItemMoreLeft = $('.navbar-horizontal-fluid .overflow-toggle-menu').offset().left;
                            navOverflowWidth = $('#overflow-menu').width();
                            offset = navItemMoreLeft + navItemMoreWidth - navOverflowWidth;
                        };
                        $(window).resize(windowResize);
                        windowResize();
                    </script>
                {/literal}

            {/if}
            <div id="globalLinks" class="dropdown nav navbar-nav navbar-right globalLinks-desktop">
                <li id="usermenu" class="user-dropdown" aria-expanded="false">
                    <a>
                        <span class="user_icon"> </span> {sugar_fio_inisials fullname=$CURRENT_USER}
                        <span class="caret"></span>
                    </a>
                </li>

                <ul class="dropdown-menu user-dropdown" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <a href='index.php?module=Users&action=EditView&record={$CURRENT_USER_ID}'>
                            {$APP.LBL_PROFILE}
                        </a>
                    </li>
                    {foreach from=$GCLS item=GCL name=gcl key=gcl_key}
                        <li role="presentation">
                            <a id="{$gcl_key}_link"
                               href="{$GCL.URL}"{if !empty($GCL.ONCLICK)} onclick="{$GCL.ONCLICK}"{/if}>{$GCL.LABEL}</a>
                        </li>
                    {/foreach}
                    <li role="presentation"><a role="menuitem" id="logout_link" href='{$LOGOUT_LINK}'
                                               class='utilsLink'>{$LOGOUT_LABEL}</a></li>
                </ul>
            </div>


            
        </div>

        <!-- Right side of the main navigation -->
        <div class="mobile-bar" id="bs-example-navbar-collapse-1">
            <div id="globalLinks" class="dropdown nav navbar-nav navbar-right">

                <button id="usermenucollapsed" class="dropdown-toggle btn btn-default " data-toggle="dropdown"
                        aria-expanded="true">
                </button>
                <ul class="dropdown-menu user-dropdown" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation">
                        <a href='index.php?module=Users&action=EditView&record={$CURRENT_USER_ID}'>
                            {$APP.LBL_PROFILE}
                        </a>
                    </li>
                    {foreach from=$GCLS item=GCL name=gcl key=gcl_key}
                        <li role="presentation">
                            <a id="{$gcl_key}_link"
                               href="{$GCL.URL}"{if !empty($GCL.ONCLICK)} onclick="{$GCL.ONCLICK}"{/if}>{$GCL.LABEL}</a>
                        </li>
                    {/foreach}
                    <li role="presentation"><a role="menuitem" id="logout_link" href='{$LOGOUT_LINK}'
                                               class='utilsLink'>{$LOGOUT_LABEL}</a></li>
                </ul>
            </div>
            <!--
            <div id="desktop_notifications" class="dropdown nav navbar-nav navbar-right">
                <button class="alertsButton dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                    <span class="alert_count">0</span>

                </button>
                <div id="alerts" class="dropdown-menu" role="menu">{$APP.LBL_EMAIL_ERROR_VIEW_RAW_SOURCE}</div>
            </div>
            -->
            <div id="search" class="dropdown nav navbar-nav navbar-right">
                <button id="searchbutton" class="dropdown-toggle btn btn-default" data-toggle="dropdown"
                        aria-expanded="true">
                    <!--<span class="glyphicon glyphicon-search"> </span>-->Search
                </button>
                <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <form id="searchformdropdown" name='UnifiedSearch' action='index.php'
                          onsubmit='return SUGAR.unifiedSearchAdvanced.checkUsaAdvanced()'>
                        <input type="hidden" class="form-control" name="action" value="UnifiedSearch">
                        <input type="hidden" class="form-control" name="module" value="Home">
                        <input type="hidden" class="form-control" name="search_form" value="false">
                        <input type="hidden" class="form-control" name="advanced" value="false">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query_string" id="query_string"
                                   placeholder="{$APP.LBL_SEARCH}..." value="{$SEARCH}"/>
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><!--<span class="glyphicon glyphicon-search"
                                                                                    aria-hidden="true"></span>-->Search</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <form id="searchform" class="navbar-form navbar-right" name='UnifiedSearch' action='index.php'
                  onsubmit='return SUGAR.unifiedSearchAdvanced.checkUsaAdvanced()'>
                <input type="hidden" class="form-control" name="action" value="UnifiedSearch">
                <input type="hidden" class="form-control" name="module" value="Home">
                <input type="hidden" class="form-control" name="search_form" value="false">
                <input type="hidden" class="form-control" name="advanced" value="false">
                <div class="input-group">
                    <input type="text" class="form-control" name="query_string" id="query_string"
                           placeholder="{$APP.LBL_SEARCH}..." value="{$SEARCH}"/>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><!--<span class="glyphicon glyphicon-search"
                                                                            aria-hidden="true"></span>-->Search</button>
                    </span>
                </div>
            </form>
            <div id="quickcreatetop" class="create dropdown nav navbar-nav navbar-right">
                <a class="dropdown-toggle" aria-expanded="false">
                    {$APP.LBL_CREATE_BUTTON_LABEL}
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="index.php?module=Contacts&action=EditView&rAeturn_module=Contacts&return_action=DetailView">{$APP.LBL_QUICK_CONTACT}</a>
                    </li>
                    <li>
                        <a href="index.php?module=Opportunities&action=EditView&return_module=Opportunities&return_action=DetailView">{$APP.LBL_QUICK_OPPORTUNITY}</a>
                    </li>
                    <li>
                        <a href="index.php?module=Tours&action=EditView&return_module=Tours&return_action=DetailView">{$APP.LBL_QUICK_TOUR}</a>
                    </li>
                    <li>
                        <a href="index.php?module=Countries&action=EditView&return_module=Countries&return_action=DetailView">{$APP.LBL_QUICK_COUNTRY}</a>
                    </li>
                    <li>
                        <a href="index.php?module=Cities&action=EditView&return_module=Cities&return_action=DetailView">{$APP.LBL_QUICK_CITY}</a>
                    </li>
                    <li>
                        <a href="index.php?module=Operators&action=EditView&return_module=Operators&return_action=DetailView">{$APP.LBL_QUICK_OPERATOR}</a>
                    </li>
                </ul>
            </div>

        </div>


        <div class="collapse navbar-collapse" id="mobile_menu">
            {foreach from=$groupTabs item=modules key=group name=groupList}
                    {capture name=extraparams assign=extraparams}parentTab={$group}{/capture}
                    {foreach from=$modules.modules item=module key=modulekey}
                        {if $modulekey !='Home' && $modulekey !='Calendar'}
                            <li style="float:right;">
                                <a href="{sugar_link module=$modulekey action='EditView' link_only=1}"><span
                                            class="glyphicon glyphicon-plus"></span></a>
                            </li>
                        {/if}
                        <li>
                            {capture name=moduleTabId assign=moduleTabId}moduleTab_{$smarty.foreach.moduleList.index}_{$module}{/capture}
                            {sugar_link id=$moduleTabId module=$modulekey data=$module extraparams=$extraparams}
                        </li>
                    {/foreach}
                    {foreach from=$modules.extra item=submodulename key=submodule}
                        <li style="float:right;">
                            <a href="{sugar_link module=$modulekey action='EditView' link_only=1}"><span
                                        class="glyphicon glyphicon-plus"></span></a>
                        </li>
                        <li>
                            <a href="{sugar_link module=$submodule link_only=1 extraparams=$extraparams}">{$submodulename}</a>
                        </li>
                    {/foreach}
            {/foreach}            
        </div>
</nav>
<!--End Responsive Top Navigation Menu -->
{if $THEME_CONFIG.display_sidebar}
    <!--Start Page Container and Responsive Sidebar -->
    <div id='sidebar_container' class="container-fluid">

        <a id="buttontoggle"><span></span></a>
                
        <!--<div class="row">-->
            <!--<div {if $smarty.cookies.sidebartoggle == 'collapsed'}style="display:none"{/if}
                 class="col-sm-3 col-md-2 sidebar">-->
             <div {if $smarty.cookies.sidebartoggle == 'collapsed'}style="display:none"{/if}
             class="sidebar">
                
                <div id="actionMenuSidebar">
                    {foreach from=$moduleTopMenu item=module key=name name=moduleList}
                        {if $name == $MODULE_TAB}
                            <ul>
                                {if count($shortcutTopMenu.$name) > 0}
                                    <h2 class="recent_h3">{$APP.LBL_LINK_ACTIONS}</h2>
                                    {foreach from=$shortcutTopMenu.$name item=item}
                                        {if $item.URL == "-"}
                                            <li><a></a><span>&nbsp;</span></li>
                                        {else}
                                            <li class="actionmenulinks" role="presentation">
                                                <a href="{$item.URL}" class="side-bar-{$item.MODULE_NAME}">
                                                    <span class="actionmenulink">{$item.LABEL}</span>
                                                </a>
                                            </li>
                                        {/if}
                                    {/foreach}
                                {/if}
                            </ul>
                        {/if}
                    {/foreach}
                </div>
                
                <div id="recentlyViewedSidebar">
                    <h2 class="recent_h3">{$APP.LBL_LAST_VIEWED}</h2>
                    <ul class="nav nav-pills nav-stacked">
                        {foreach from=$recentRecords item=item name=lastViewed}
                            <div class="recently_viewed_link_container_sidebar">
                                <li class="recentlinks" role="presentation">
                                    <a title="{$moduleTopMenu[$item.module_name]}"
                                       accessKey="{$smarty.foreach.lastViewed.iteration}"
                                       href="{sugar_link module=$item.module_name action='DetailView' record=$item.item_id link_only=1}">
                                        <img src="{sugar_getimagepath directory='sidebar/modules'  file_name=$item.module_name file_extension="svg" file='sidebar/modules/'.$item.module_name.".svg"}"/><span aria-hidden="true">{$item.item_summary_short}</span>
                                    </a>
                                </li>
                            </div>
                        {/foreach}
                    </ul>
                </div>
     
                <div id="favoritesSidebar">
                    <h2 class="recent_h3">{$APP.LBL_FAVORITES}</h2>
                    <ul class="nav nav-pills nav-stacked">
                        {foreach from=$favoriteRecords item=item name=lastViewed}
                            <div class="recently_viewed_link_container_sidebar" id="{$item.id}_favorite">
                                <!--<li class="recentlinks_edit"><a
                                            href="{sugar_link module=$item.module_name action='EditView' record=$item.id link_only=1}"
                                            style="margin-left:10px;"><span class=" glyphicon glyphicon-pencil"
                                                                            aria-hidden="true"></a></li>-->
                                <li class="recentlinks" role="presentation">
                                    <a title="{$item.module_name}"
                                       accessKey="{$smarty.foreach.lastViewed.iteration}"
                                       href="{sugar_link module=$item.module_name action='DetailView' record=$item.id link_only=1}">
                                        <img src="{sugar_getimagepath  directory='sidebar/modules' file_name=$item.module_name file_extension="svg" file='sidebar/modules/'.$item.module_name.".svg"}"/><span aria-hidden="true">{$item.item_summary_short}</span>
                                    </a>
                                </li>
                            </div>
                        {/foreach}
                    </ul>
                </div>
                
                
                
            </div>
        <!--</div>-->
    </div>
    <!--End Responsive Sidebar -->
{/if}
<!--Start Page content -->
