
{html_options name='{{$vardef.name}}[]' options={{sugarvar key='options' string=true}} size="{{$displayParams.size|default:6}}" style="width: 200px" multiple=1 selected={{sugarvar key='value' string=true}}}