.basic .relate-block {
    width: 54%;
}

#popup_query_form .relate-block {
    width: 74%;
}

.relate-block input {
    width: 100%;
}

.relate-buttons {
    padding-top: 3px;
}

.advanced .relate-block, #popup_query_form .relate-block{
    margin-top: -8px;
}

.advanced .relate-buttons, #popup_query_form .relate-buttons{
    margin-top: -8px;
}

@media (max-width: 1100px) {
    .advanced .relate-block {
        width: 65%;
    }
    
    .advanced .relate-block input {
        width: 100% !important;
    }
}
