

@media (max-width: 1100px) {
    .custom-range-date {
        width: 74px !important;
    }
}

.custom-start-range {
    width: 87%;
    margin-top: 5px;
}

@media (min-width: 1100px) {
    .custom-start-range {
        width: 47%;
    }
}

.custom-date-period {
    width: 125px !important;
}

.custom-date-period.full {
    width: 100% !important;
}

