@CHARSET "UTF-8";

div.sattach_container {
    clear: both;
}
div.sattach_container_inline {
    clear: both;
    padding: 2px 0 2px 0;
}
div.sattach_container_block {
    float: left;
    padding: 2px 4px 2px 0;
    line-height: 16px;
    width: 100%;
}
table.sattach_file_input_table {
    border: none;
    height: 20px;
    margin: 0;
    padding: 0;
}
table.sattach_file_input_table td {
    align: left;
    border: none;
    height: 20px;
    margin: 0;
    padding: 0;
}
table.sattach_file_input_table td div.button {
    display: inline-block;
    height: 40px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    vertical-align: bottom;
    width: 110px;
    zIndex: 2;
}
table.sattach_file_input_table td div.button div.label {
    height: 19px;
    padding: 2px 0 0 0;
    width: 60px;
    line-height: 16px !important;
    color: white !important;
}
table.sattach_file_input_table td input.sattach_file_input {
    cursor: pointer;
    height: 23px;
    opacity: 0;
    position: relative;
    rigth: 0px;
    top: -25px;
    margin-left: -122px;
    width: 192;
}
table.sattach_file_view_table {
    border: none;
    height: auto;
    margin: 0;
    padding: 0;
}
table.sattach_file_view_table td {
    align: left;
    border: none;
    height: auto;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
div.sattach_file_description {
    /**
     * this property does not work properly, because <base> tag expected in Sugar
     * background-image sets in JS Nitfile object
     * background-image: url('include/SugarFields/Fields/Nitfile/icons.png');
     */
    background-position: top left;
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 16px;
    margin: 0 4px 0 4px;
    padding: 0 0 0 20px;
    font-size: 12px;
    white-space: nowrap;
    margin-top: -4px;
}

div.sattach_file_description.is_ready_file {
    margin-top: 15px;
}

div.sattach_file_description.no_margin_top {
    margin-top: 0 !important;
}

div.sattach_file_description.thumbnail {
    padding: 0 0 0 0;
}
div.sattach_file_description a.file_download {
    cursor: pointer;
    float: left;
    text-decoration: none;
}
div.sattach_file_description a.file_download:hover {
    text-decoration: underline;
}
div.sattach_file_description a.file_download_thumbnail {
    border: 0;
    float: left;
    margin: 0px 4px 0px 0px;
    padding: 0;
    text-decoration: none;
}
div.sattach_file_description a.file_download_thumbnail:hover {
    border: 0;
    text-decoration: none;
}
div.sattach_file_description a.file_download_thumbnail img {
    border: 1px solid #dddddd;
    margin: 0px 4px 0px 0px;
    padding: 0;
    opacity: 0.95;
}

div.listViewBasic {
    background-image:url(&quot;custom/include/SugarFields/Fields/Nitfile/icons.png&quot;);
    background-repeat:no-repeat;
    display:block;
    float:left;
    height:16px;
    margin:0 4px 0 4px;
    padding:0 0 0 20px;
    font-size:12px;
    white-space: nowrap;
    background-position: 0px 240px;
}

listViewOffset_doc, listViewOffset_docx, listViewOffset_rtf, listViewOffset_odt,
listViewOffset_ott {
    background-position: 0px 0px !important;
}

listViewOffset_xls, listViewOffset_xlc, listViewOffset_xlw, listViewOffset_xlt,
listViewOffset_ods, listViewOffset_ots {
    background-position: 0px 16px !important;
}

listViewOffset_ppt, listViewOffset_pps, listViewOffset_pot, listViewOffset_odp,
listViewOffset_otp {
    background-position: 0px 32px !important;
}

listViewOffset_bmp, listViewOffset_wbmp {
    background-position: 0px 48px !important;
}

listViewOffset_jpg, listViewOffset_jpe, listViewOffset_jpeg {
    background-position: 0px 64px !important;
}

listViewOffset_png {
    background-position: 0px 80px !important;
}

listViewOffset_gif {
    background-position: 0px 96px !important;
}

listViewOffset_psd, listViewOffset_psb, listViewOffset_pdd {
    background-position: 0px 112px !important;
}

listViewOffset_mp3, listViewOffset_wav, listViewOffset_wma, listViewOffset_flac {
    background-position: 0px 128px !important;
}

listViewOffset_avi, listViewOffset_mpg, listViewOffset_mpeg, listViewOffset_mpe,
listViewOffset_mp4, listViewOffset_wmv, listViewOffset_flv, listViewOffset_3gp {
    background-position: 0px 144px !important;
}

listViewOffset_pdf {
    background-position: 0px 160px !important;
}

listViewOffset_zip, listViewOffset_rar, listViewOffset_tar, listViewOffset_gx,
listViewOffset_7z, listViewOffset_arj {
    background-position: 0px 176px !important;
}

listViewOffset_exe, listViewOffset_bin {
    background-position: 0px 192px !important;
}

listViewOffset_msi {
    background-position: 0px 208px !important;
}

listViewOffset_txt, listViewOffset_csv, listViewOffset_ini, listViewOffset_log,
listViewOffset_cfg, listViewOffset_bat, listViewOffset_vbs, listViewOffset_vb {
    background-position: 0px 224px !important;
}

.search-nitfile td {
    padding: 0 !important;
}